body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

#profile-container {
    max-width: 600px;
    margin: 50px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2,
h3 {
    color: #333;
}

#basic-info,
#xp-info,
#grades-audits-info,
#skills-info {
    margin-bottom: 20px;
}

strong {
    font-weight: bold;
}
